.title {
	font-size: 6em;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
  color: #a600ff;
}

.accountIcon {
  width: 30%;
  height: 80%;
  position: relative;
  padding-left: 1em;
}

.menuItem {
	font-size:3em;
}

.aboutText {
  font-size: 3em;	
  color: white;
  float: center;
  padding: 2em;
  
}

.modalText {
	font-size: 2em;	
}

.characterText {
	font-size: 2em;
	
}

ul > li > a {
	font-size: 3em;
}

input {
	width: 200px;
	height: 30px;
	font-size:15px;
}

body {

  background-image: url("../assets/homeScreen.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.carousel img {
  width: auto;
  height: 400px;
  max-height: 400px;
}

canvas {
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;         
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -o-crisp-edges;           
  image-rendering: pixelated;             
  -ms-interpolation-mode: nearest-neighbor;  
}