.title {
	font-size: 10em;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	color: #a600ff;
}

.accountIcon {
  width: 30%;
  height: 80%;
  position: relative;
  padding-left: 1em;
}

.menuItem {
	font-size:3em;
}

.aboutText {
  font-size: 3em;	
  color: white;
  float: center;
  padding: 2em;
  
}

.modalText {
	font-size: 2em;	
}

.characterText {
	font-size: 2em;
	
}

ul > li > a {
	font-size: 3em;
}

input {
	width: 200px;
	height: 30px;
	font-size:15px;
}

body {

  background-image: url("../assets/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}
